* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(171, 165, 165);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
}

#trocar {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1A202C;
    box-shadow: 2px 2px 10px;

    width: 350px;
    height: 500px;
    border-radius: 30px;
    gap: 20px;
}

.painel {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;

    background-color: rgb(109, 115, 104);
    box-shadow: 4px 4px 10px;
    font-family: 'Digital-7', sans-serif;
    font-size: 1.8rem;

    margin-top: 30px;
    height: 80px;
    width: 300px;
    border-radius: 30px;

}


.container-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    animation-duration: 2s;
    animation: buttons;

    width: 300px;
    height: 330px;
    padding: 10px;
    gap: 10px;

}

.btn-numbers {
    background-color: transparent;
}

button {
    background-color: transparent;
    color: aliceblue;

    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    border-style: none;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 5px;

    transition: 0.4s;

}

button:hover {
    background-color: rgb(6, 6, 6);
}

.btn-numbers2:hover {
    background-color: rgb(171, 165, 165);
    color: #1A202C;
}

#resultado:hover {
    background-color: rgba(67, 200, 98, 0.679);

}

#apagar:hover {
    background-color: rgba(255, 127, 80, 0.716);
}

#apagar2:hover {
    background-color: rgba(255, 127, 80, 0.716);
}

#resultado {
    background-color: transparent;
}